.d-none {
    display: none!important;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-right, .header-menu {
    display: flex;
}

.header-logo {
    position: relative;
    margin-left: 1rem;
}

.header-button {
    color: white;
    background: #0089ec;
    border-radius: 8px;
    border: none;
    margin-right: 1.5rem;
    margin-left: 1rem;
}

.header-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header-contact-text {
    font-size: small;
}

.header-contact-phone {
    font-size: large;
    font-weight: 500;
}

.header-menu-item, .bi-chevron-down, .bi-chevron-up {
    margin-left: 5px;
    margin-right: 5px;
}

.header-menu-item {
    position: relative;
    padding-bottom: 5px;
    display: inline-block;
}

.header-menu-item:hover{
    cursor: pointer;
    color: #0089ec;
}

.header-menu-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    background-color: #000;
    transition: transform 0.5s ease;
}

.header-menu-item:hover::after {
    transform: scaleX(100%);
    transform-origin: left;
    background-color: #0089ec;
}

/* section-1 */

.section-gray {
    background: #F3F6F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

h1 {
    font-size: 45px;
}

h3 {
    font-weight: 400;
}

.card-container {
    width: 890px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.üst-card, .alt-card {
    flex-grow: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 12px;
    padding-top: 12px;
    padding-bottom: 15px;
    font-weight: 600;
}

.üst-card {
    width: calc(33.33% - 20px);
}

.alt-card {
    width: calc(20% - 20px);
}

.üst-card:hover, .alt-card:hover {
    cursor: pointer;
    color: #0089ec;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.link, .parallax-link {
    color: #0089ec;
    font-size: 15px;
    font-weight: 600;
}

.link:hover {
    cursor: pointer;
}

/* section 2 */

.section-white {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

h2 {
    font-size: 32px;
}

h4 {
    font-size: 20px;
}

.özellik-container {
    width: 1110px;
    padding-top: 88px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 48px;
}

.özellik {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.özellik p{
    text-align: center;
}

/* section 3 */

.parallax-header {
    font-size: 24px;
    font-weight: 600;
}

.parallax-content {
    font-size: 16px;
}

.parallax {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    overflow: hidden;
}

.sol p{
    max-width: 310px;
}

.sag img{
    position: absolute;
}

.parallax-feature-1 {
    z-index: 1;
    transform: scale(1);
    transition: transform 1s ease-in-out;
}

.parallax-feature-2 {
    z-index: 1;
    transform: scale(0);
    transition: transform 1s ease-in-out;
}

#parallax-text-1, #parallax-text-2 {
    opacity: 0;
    transition: transform 1s ease;
}

#parallax-text-1 {
    transform: translateY(50%);
}

#parallax-text-2 {
    transform: translateY(200vh);
}

.active-text-1 #parallax-text-1 {
    opacity: 1;
    transform: translateY(0);
}

.active-text-2 #parallax-text-2 {
    opacity: 1;
    transform: translateY(50%);
}

.scale-feature-2 .parallax-feature-1 {
    transform: scale(0);
}

.scale-feature-2 .parallax-feature-2 {
    transform: scale(1);
}

/* section 4 */

.btn {
    background: none;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    color: #717171;
    padding: 10px 15px;
}

.btn:hover{
    background: #fafafa;
    cursor: pointer;
}

.btn.active {
    border: 1px solid #0089ec;
    color: #0089ec;
}

.carousel-1 {
    width: 982px;
    height: 520px;
    background-color: #717171;
}
.carousel-2 {
    width: 982px;
    height: 520px;
    background-color:#0089ec;
}
.carousel-3 {
    width: 982px;
    height: 520px;
    background-color:aqua;
}

.bi-chevron-left, .bi-chevron-right {
    font-size: 24px;
    color: #0089ec;
}

.bi-chevron-left:hover, .bi-chevron-right:hover {
    cursor: pointer;
}

.carousel-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.carousel-content {
    width: 982px;
    height: 520px;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
}

.carousel-content::-webkit-scrollbar{
    display: none;
}

.carousel-content > div {
    flex: 0 0 auto;
    scroll-snap-align: start;
}

.bi-circle-fill{
    font-size: 8px;
    color: #b6b6b6;
}

.bi-circle-fill.active{
    font-size: 8px;
    color:#0089ec;
}

.button-row{
    margin-bottom: 10px;
}

.reklam, .indirimler, .öne-çıkanlar{
    text-align: center;
}

/* section 5 */

.comment-card {
    background: white;
    padding: 15px;
    border-radius: 12px;
}

.card-content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.comment-owner {
    text-align: end;
}

.comments {
    display: flex;
    gap:20px;
    margin: 50px;
    width: 1190px;
}

/* section 6 */

.ödüllerimiz {
    display: flex;
    gap: 150px;
}

/* section 7 */

.şirket-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.şirket-card {
    width: 200px;
    background: white;
    padding: 32px;
    border-radius: 8px;
    text-align: center;
}

.şirket-img {
    max-width: 100%;
    height: 50px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.şirket-img:hover {
    filter: grayscale(0);
}

/* section 8 */

.tost-menü-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
}

.tost-menü {
    height: 50px;
    border-radius: 8px;
    padding: 0 30px 30px 30px;
    width: 800px;
    background: white;
    transition: height 0.5s ease;
}

.tost-menü.open {
    height: 210px;
}

.tost-menü.close {
    overflow:hidden;
}

.tost-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
}

.tost-row:hover {
    cursor: pointer;
}

.line {
    border: 0.5px #0000001c solid;
}

/* section 9 */

.sigorta-container {
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 52px;
}

.sigorta-kutusu {
    height: 162px;
    width: 162px;
    flex-grow: 1;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 12px;
    font-weight: 600;
}

.sigorta-kutusu:hover {
    cursor: pointer;
    color: #0089ec;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0,3s ease;
}

/* section 10 */

.end-son {
    display: flex;
    flex-direction: column;
    
}

h6 {
    font-weight: 200;
}

.endlogo {
    display: flex;
}


.endödül {
    display: flex;
    gap: 10px
    ;
}

.endbaşlık {
    display: flex;
    gap: 600px;
}

.ulaşım-container {
    width: 1100px;
    display: flex;
    gap: 50px;
    margin-top: 36px;
}

.başlık {
    font-weight: 600;
}

.yazı {
    color: #00000093;
    cursor: pointer;
}

.yazı:hover {
   text-decoration: underline;
}

.sıra {
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 21px;
    font-size: 15px;
}

.sıra-son {
    
}

.yardım {
    color: #00000093;
}

.telefon {
    display: flex;
    flex-direction: column;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.görsel {
    display: flex;
    gap: 10px;
}
 




